


<link  rel="stylesheet" href="{{url_for('static', filename='css/index.css' ) }}">


<footer class="footer-distributed">

    <div class="footer-left">
      
      


      <p class="footer-company-name" style="color: antiquewhite;" >© 2020 nesh.All Rights Reserved</p>
    </div>

    <div class="footer-center"  >
     


      <img src="https://raw.githubusercontent.com/zisiszikos/the-movie-db-example/master/tmdb.png" width="200px"/>
     
    </div>
    <div class="footer-right">
      <p class="footer-company-about" style="color: antiquewhite;">
        <span>About us</span>
        Onlymovies allows you to watch trailers for different movies and helps you find a nice movie to watch rather than scrolling through netflix all day trying to find the best movie to watch.Enjoy <img width="20px"   src=" https://cdn.shopify.com/s/files/1/1061/1924/products/Sunglasses_Emoji_be26cc0a-eef9-49e5-8da2-169bb417cc0b_large.png?v=1571606036"/></p>
      <div class="footer-icons">
     
      </div>
    </div>
  </footer>
