{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">

        <div class="col-md-8">
{% if movie.backdrop_path %}
           <p><img  src="{{movie.backdrop_path}}" alt="{{movie.title}}" class="img-responsive"></p>

{% else %} 
   <h2>sdx xc</h2>
{% endif %}          
           <h2 >{{movie.title}}</h2>
        </div>

        <div class="col-md-4">

            {{ wtf.quick_form(review_form) }}
        </div>

    </div>
    {{super()}}

{% endblock %}