{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block styles %}
  {{super()}}

  <link  rel="stylesheet" href="{{url_for('static', filename='css/index.css' ) }}">
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row ">
            {%  if movies%}

            <p><h3> Found {{ movies| count }} matches </h3></p>
            

            <hr>
            <ul style="list-style-type: none;">
                {{ macro.displayMovieList(movies)}}
            </ul>

            {% else%}
            <h3>sorry no results</h3>

            {% endif%}

        </div>

    </div>
{% endblock %}